.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  opacity: 1;
  visibility: visible;
  transition: 0.45s ease-in-out;
}
.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: var(--light-text-color);
  transition: 0.45s ease-in-out;
}
.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
  }
}
