.currencyChange {
  position: relative;
}
.currencyChange button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--dark-text-color);
  transition: 0.45s ease-in-out;
}
.currencyChange button:hover {
  color: var(--primary-color);
}
.dropdown {
  position: absolute;
  top: -13rem;
  right: 0;
  min-width: 100px;
  background-color: var(--dropdown-bg);
  box-shadow: 0px 8px 16px 0px var(--dropdown-shadow);
  color: var(--light-text-color);
  z-index: 1;
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.45s ease-in-out;
  opacity: 0;
  visibility: hidden;
  height: 200px;
  overflow-y: scroll;
}
.dropdown.show {
  opacity: 1;
  visibility: visible;
}
.dropdown li {
  cursor: pointer;
}
.dropdown li.active {
  color: var(--primary-color);
}
.dropdown li:hover {
  color: var(--primary-color);
}

.dropdown::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}
.dropdown::-webkit-scrollbar-track {
  background: #464646;
  border-radius: 10px;
}
.dropdown::-webkit-scrollbar-thumb {
  background: #666666;
  border-radius: 10px;
}
.dropdown::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
