.button {
  border-radius: 56px;
  color: var(--light-text-color);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 48px;
  min-width: 265px;
  transition: 0.45s;
  font-weight: 600;
}
.button.primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white);
}
.button.primary:hover {
  background-color: var(--primary-hover);
  border: 1px solid var(--primary-hover);
  box-shadow: 0px 8px 16px 0px rgba(46, 46, 46, 0.295);
}
.button.secondary {
  background-color: var(--transparent-white);
  border: 1px solid var(--light-text-color);
}
.button.secondary:hover {
  background-color: var(--secondary-hover);
  border: 1px solid var(--secondary-hover);
  box-shadow: 0px 8px 16px 0px rgba(46, 46, 46, 0.295);
  color: #000000;
}
.button.secondary svg path {
  transition: 0.45s;
}
.button.secondary:hover svg path {
  fill: #000000;
}
