.sliderContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.slider {
  width: 100%;
}
/* Slider slide */
.slide {
  padding-top: 4rem;
  cursor: grab;
  width: 100%;
}

.slide .comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
}
.slide .comment p {
  color: var(--dark-text-color);
  width: 100%;
  max-width: 620px;
  line-height: 2rem;
}
.slide .comment span {
  color: var(--text-decoration-color);
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  margin: 2rem 0;
}
.quoteLeft {
  margin-right: 0.5rem;
}
.quoteRight {
  margin-left: 0.5rem;
}

/* Dots */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.sliderContainer .pagination .swiper-pagination-bullet {
  background: var(--dark-text-color) !important;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.sliderContainer .pagination .swiper-pagination-bullet-active {
  background: var(--primary-color) !important;
  opacity: 1;
}

@media screen and (min-width: 570px) {
  .slide .comment {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .sliderContainer {
    padding-top: 3rem;
  }
  .slide .comment {
    padding: 0;
  }
  .slide .comment p {
    max-width: 720px;
  }
}
