.tradeOnTheGo {
  margin-top: 10rem;
  overflow-x: hidden;
}
.tradeOnTheGo,
.qrContainer,
.textContainer,
.platformButtons,
.qrContainer p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.phone {
  display: none;
  max-width: 60%;
}
.textContainer {
  margin-top: 2rem;
  gap: 3rem;
}
.textContainer h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1.5rem auto;
}
.textContainer h2,
.qrContainer p {
  color: var(--light-text-color);
}

.qrContainer p span {
  color: var(--text-decoration-color);
  font-weight: 600;
}
.textContainer h2 span {
  font-weight: 600;
}
.qrContainer p {
  margin-top: 2rem;
  gap: 1rem;
}
.platformButtons {
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .phone {
    display: block;
  }
  .tradeOnTheGo {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
  .textContainer {
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    margin: 0;
  }
  .textContainer h2 {
    text-align: left;
    margin-top: 0;
  }
  .qrContainer,
  .qrContainer p {
    align-items: flex-start;
    gap: 0.5rem;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .tradeOnTheGo {
    align-items: center;
  }
  .textContainer h2 {
    margin: 0;
  }
  .textContainer {
    gap: 3.5rem;
  }
  .qrContainer {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  .qrContainer p {
    text-align: left;
    align-items: flex-start;
  }
  .platformButtons {
    flex-direction: row;
  }
}
